<section class="mt-5">
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
      <tr>
        <td>{{index+1}}</td>
        <td>{{country.flag}}</td>
        <td>
          <img [src]="country.flagSvg" [alt]="country.name" class="w-10 h-10 rounded-md shadow-md object-cover">
        </td>
        <td>{{country.name}}</td>
        <td>{{country.capital}}</td>
        <td>
          <span class="badge badge-lg badge-secondary">
            {{country.population | number}}
          </span>
        </td>
        <td>
          <a [routerLink]="['/country/by',country.cca2]" class="link-primary">More Information...</a>
        </td>
      </tr>
      }
      @if (errorMessage()) {
      <tr>
        <td colspan="8" class="text-center">
          <div class="alert alert-error text-center">
            <div>
              <span>{{errorMessage()}}</span>
            </div>
          </div>
        </td>
      </tr>
      }

      @if (countries().length === 0 && !isLoading() && !errorMessage()) {
      <td colspan="8" class="text-center">
        <div class="p-4">
          <div>
            <span>Countries not found</span>
          </div>
        </div>
      </td>
      }

      @if (isLoading()) {
      <td colspan="8" class="text-center">
        <div>
          <div class="p-4 alert alert-info text-center mb-10">
            <span>Searching for Countries...</span>
          </div>
          <div class="radial-progress animate-spin text-primary mb-10" style="--value:70; --size:3rem; --thickness:8px">
          </div>
        </div>
      </td>
      }

    </tbody>
  </table>
</section>
